.App {
  text-align: center;
  color: rgb(51, 39, 31);
  padding-left: 40px;
  padding-right: 40px;
}

.view-1 {
  border: solid 2px rgb(51, 39, 31);
  width: 48%;
  float: left;
  min-height: 300px;
  margin: 10px;
}

/* h1, h2, h3 {
  font-family: 'Squada One', cursive;
} */

body {
  font-family: 'Vollkorn SC', serif;
  /* font-family: 'Indie Flower', cursive; */
  /* background-image: url('./images/annie-spratt-xt79nQxc9Q0-unsplash.jpg');
  background-position: center center;
  background-attachment: fixed; */

}

.start-novel {
  padding: 40px; 
  text-align: center;
}

.start-novel-button {
  font-size: 1em;
  color: white;
  background-color: rgb(51, 39, 31);
  padding: 10px;
}

.open-existing-novel {
  margin: 0 auto;
  text-align: center;
  width: 280px;
  padding: 20px; 
}

.open-existing-novel li {
  list-style: none;
  margin-left: 0;
}

.view-2 {
  /* border: solid 2px gray; */
  width: 47%;
  float: left;
  min-height: 300px;
  margin-top: 20px;
}

.create-novel-form {
  width: 300px;
  text-align: center;
  padding: 20px;
  margin: auto;
}

.create-novel-form form input {
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  width: 246px;
}

.create-novel-form form textarea {
  width: 260px;
  font-size: 1em;
  margin: 20px auto;
}

.create-novel-button {
  font-size: 1em;
  color: white;
  background-color: rgb(51, 39, 31);
  padding: 10px;
}

.view-3 {
  /* border: solid 2px gray; */
  width: 45%;
  min-height: 300px;
  margin: 10px;
  display: flex;
  
}

.show-novel-info {
  border: solid 1px gray;
  margin: 20px; 
  float: left;
  width: 300px;
  min-height: 200px;
  padding: 20px;
}

.create-character {
  width: 500px;
  margin: 20px;
  padding: 20px;
  /* border: solid 1px rgb(51, 39, 31); */
}

.create-character form {
  width: 420px;
  /* text-align: right; */
  margin: auto;
  text-align: left;
  /* padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px; */
  /* border: solid 2px rgb(51, 39, 31); */
}

.create-character input {
  font-size: 1em;
  width: 200px;
  margin-bottom: 10px;
  padding: 10px;
}

.create-character-button {
  font-size: 1em;
  color: white;
  background-color: rgb(51, 39, 31);
  padding: 10px;
}

.clear-character-button {
  font-size: 1em;
  color: white;
  background-color: rgb(51, 39, 31);
  padding: 10px;
}

.save-character-button {
  font-size: 1em;
  color: white;
  background-color: rgb(51, 39, 31);
  padding: 10px;
}

.characters-list {
  border: solid 1px rgb(51, 39, 31);
  padding: 20px;
  margin: 20px;
  text-align: left;
  margin: 10px auto;
  width: 400px;
}

.characters-list li {
  list-style: none;
}

.novels-container {
  clear:both;
  border: solid 1px rgb(51, 39, 31);
  width: 95%;
}